@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
   --radius: 0.5rem;
  --foreground: hsl(0 0% 90%);
  --primary-foreground: hsl(0 0% 90%);
  --secondary-foreground: hsl(0 0% 90%);
  --card-foreground: hsl(0 0% 90%);
  --popover-foreground: hsl(0 0% 90%);
  --accent-foreground: hsl(0 0% 90%);
  --muted-foreground: hsl(0 0% 60%);

  --primary: hsl(200, 100%, 40%);
  --accent: hsl(200, 100%, 40%);

  --background: hsl(0 0% 0%);
  --secondary: hsl(0 0% 3%);
  --card: hsl(0 0% 3%);
  --input: hsl(0 0% 10%);
  --popover: hsl(0 0% 10%);
  --muted: hsl(0 0% 15%);

  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(0 0% 90%);
  --border: hsl(0 0% 20%);
  --ring: hsl(200 100% 40%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
